[build-system]
requires = [
    "scikit_build_core[rich]",
    "pybind11",
]
build-backend = "scikit_build_core.build"

[project]
name = "sksphere"
version = "0.0.1"
requires-python = ">=3.7"

[project.optional-dependencies]
test = ["pytest>=6.0"]
